@import "../global/Imports.css";
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 64px;
    font-family: var(--font-family);
    position: fixed;
    border-bottom: 1px solid #f7f7f7;
    background-color: #fff;
    z-index: 1;
}

.navbar__full-menu{
    max-width:1080px !important;
    height:100%;
    position: relative;
}

.navbar__nav-menu-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:100%;    align-items: center;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.primary-menu {
    display: flex;
    align-items: center;
    height:100%;
}

.primary-menu .primary-menu__logo{
    height:40px;
    height:100%;
    display: flex;
    align-items: center;
    margin-right:35px;
}

.primary-menu .primary-menu__logo img{
    height:35px;
    width:auto;
}

.primary-menu__list-wrapper{
    height:100%;
    display: flex;
    align-items: center;
}

.primary-menu__list{
    display: flex;
    align-items: center;
    height: 100%;
}

.primary-menu__list li{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.primary-menu__list li:not(:first-child){
    margin-left: 35px;
}

.primary-menu__list li button{
    height:100%;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
}

.primary-menu__list li > a{
    text-transform: uppercase;   
    font-size: 0.9rem;
    font-weight: 600;
}

.primary-menu__list li button svg{
    height: 20px;
    margin-left: 3px;
}

.primary-menu__list li button:hover,
.primary-menu__list li button[data-dropState="block"]{
    border-bottom:2px solid var(--primary-color);
}

.primary-menu__list li button:hover svg,
.primary-menu__list li button[data-dropState="block"] svg{
    transform: rotate(180deg);
    transition: transform ease 0.25s;
}

.secondary-menu,
.secondary-menu ul{
    height:100%;
    display:flex;
    align-items: center;
}

.secondary-menu ul li{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
}

.secondary-menu ul li button{
    text-transform: uppercase;
}

.secondary-menu ul.unauthed li:not(:first-child) button{
    background-color: var(--primary-color);
    padding:5px 15px;
    border-radius: 25px;
    color:#ffffff;
}

.secondary-menu ul li:not(:first-child){
    margin-left: 35px;
}

.secondary-menu button svg{
    width:24px;
}

.secondary-menu ul.authed button .authed__wrapper{
    padding: 2px;
    border-radius: 50%;
}

.secondary-menu ul.authed button .authed__wrapper:hover{
    background-color: var(--site-nav-drop-hover-color);
}

.secondary-menu img{
    width:24px;
    height:24px;
    object-fit: cover;
    border-radius:50%;
}

.dropdown{
    position:absolute;
    top:64px;
    left:0;
    width:100%;
    background-color: var( --site-nav-drop-wrapper-background-color);
    height:calc(100vh - 64px);
}

.dropdown__wrapper{
    background-color: #fff;
    border-bottom:1px solid #f7f7f7;
}

.dropdown__wrapper--row{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.divider{
    width: 1px;
    border-right:1px solid #f7f7f7;
}

.dropdown__section{
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid #f7f7f7;
    padding: 0 5px;
}

.dropdown__section .dropdown__section-header{
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 10px 0px;
    margin-top: 25px;
}

.dropdown__links{
    display: flex;
    flex-wrap:wrap;
    padding: 10px 0;
}

.dropdown__link-item--icon{
    padding: 10px;
    width: 45px;
    height:45px;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-right:var(--icon-spacing-right);
    margin-top:var(--icon-spacing-top);
}

.dropdown__links a{
    flex:1 0 270px;
    max-inline-size: 270px;
    margin-right: 15px ;
    padding:10px 15px ;
    border-radius: 15px;
}

.dropdown__links a:hover{
    background-color: var(--site-nav-drop-hover-color);
}

.dropdown__link-item{
    display:flex;
    align-items: start;
    flex-wrap: nowrap;
    inline-size: 100%;
    block-size: 100%;
}

.dropdown__link-item--text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    inline-size: 100%;
}

.dropdown__link-item--text .head{
    font-size:0.9rem;
    margin-top:0;
}

.dropdown__link-item--text .body{
    font-size: 0.7rem;
    text-align: start;
    color:var(--secondary-text-color);
}

.navbar__nav-menu-items--right{
    display: flex;
    align-items: center;
}

.mobile-menu__trigger{
    display: none;
}

.mobile-menu__trigger button{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu__trigger button iconify-icon{
    font-size: 32px;
}

.mobile-menu-wrap{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden !important;
    background: rgb(255 255 255 / 50%);
    z-index: 1;
    transform: translateY(100%);
    transition: transform ease 0.25s;
}

.mobile-menu-wrap.true{
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.mobile-menu-wrap.false{
    visibility: hidden;
    opacity: 0;
}

.mobile-menu-wrap__inner{
    position: relative;
    background-color:#fff;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 100%;
    width: 100%;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 15px;
    box-shadow: 0 0 25px 1px #eee;
}

.mobile-menu-wrap__inner--top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    position: relative;
    border-bottom: 1px solid #f5f5f5;
}

.mobile-menu-wrap__inner--top .mobile-menu__logo{
    display: flex;
    align-items: flex-end;
}

.mobile-menu-wrap__inner--top .mobile-menu__logo img{
    height:24px;
}

.mobile-menu-wrap__inner--top .mobile-menu__logo{
    visibility: visible;
}

.mobile-menu-wrap__inner--top.true .mobile-menu__logo{
    visibility: hidden;
    transform: translateX(-120%);
}

.mobile-menu-wrap__inner--top .sub-nav__close{
    position: absolute;
    top:23px;
    color:var(--primary-color);
    font-size: 0.9rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    transform: translateX(0);
    transition: transform ease 0.25s;
    visibility: visible;
}

.mobile-menu-wrap__inner--top.false .sub-nav__close{
    visibility: hidden;
}

.mobile-menu-wrap__inner--top .sub-nav__close iconify-icon{
    margin-right: 3px;
    margin-bottom: 2px;
    font-size: 16px;
}

.mobile-menu-wrap__inner--top button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu-wrap__inner--top button iconify-icon{
    font-size: 32px;
}

.mobile-menu-wrap__inner--middle{
    display: flex;
    width:200%;
    transform: translateX(0);
    transition: transform ease 0.25s;
}

.mobile-menu-wrap__inner--middle.true{
    transform: translateX(-25%);
    transition: transform ease 0.25s;
}

.mobile-menu-wrap__nav{
    width: 100%;
    visibility: visible;
}

.mobile-menu-wrap__inner--middle.true .mobile-menu-wrap__nav{
    visibility: hidden;
}

.mobile-menu-wrap__sub-nav{
    position: relative;
    visibility: hidden;
    width: 100%;
    transform: translateX(0);
    transition: transform ease 0.25s;
}

.mobile-menu-wrap__sub-nav.visible{
    visibility: visible;
    transform: translateX(-50%);
    transition: transform ease 0.25s;
}

.mobile-menu-wrap__inner--middle ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.mobile-menu-wrap__inner--middle ul li:focus,
.mobile-menu-wrap__inner--middle ul li:hover{
    background-color: var(--site-nav-drop-hover-color);
}

.mobile-menu-wrap__inner--middle ul li p{
    font-size: 0.9rem;
    font-weight: 600;
    color:var(--primary-text-color);
    margin:0;
}

.mobile-menu-wrap__inner--middle ul li iconify-icon{
    font-size: 24px;
}

.mobile-menu-wrap__sub-nav-links .mobile-menu-wrap__link-item{
    display: flex;
    align-items: center;
    padding: 15px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.mobile-menu-wrap__sub-nav-links .mobile-menu-wrap__link-item:focus,
.mobile-menu-wrap__sub-nav-links .mobile-menu-wrap__link-item:hover{
    background-color: var(--site-nav-drop-hover-color);
}

.mobile-menu-wrap__link-item--icon{
    padding: 10px;
    width: 45px;
    height:45px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.mobile-menu-wrap__link-item--text{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10px;
}

.mobile-menu-wrap__link-item--text span{
    font-size: 0.9rem;
    font-weight: 600;
    color:var(--secondary-color);
    margin:0;
}

.mobile-menu-wrap__link-item--text p{
    text-align: start;
    font-size: 0.8rem;
    color:var(--secondary-text-color);
    margin: 0;
    margin-top: 5px;
}

.mobile-menu-wrap__inner--footer{
    background:rgb(255 255 255 / 90%);
    padding: 15px 10px;
    border-radius: 5px;
    position: sticky;
    bottom: 0;
}

.mnav-footer__item--unauthed{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mnav-footer__item--unauthed button{
    background-color: var(--primary-color);
    color:#fff;
    padding: 5px 25px;
    border-radius: 25px;
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.mnav-footer__item--authed{
    display: inline-flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.mnav-footer__item--authed button{
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mnav-footer__item--authed iconify-icon{
    font-size: 24px;
}

.mnav-footer__item--authed img{
    width:32px;
    height:32px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width:1240px){
    .primary-menu__list-wrapper {
        display: none;
    }
    .secondary-menu{    right:0;
        bottom: 0;
        left: 0;
        display: none !important;
    }
}

@media screen and (max-width:600px){
    .primary-menu .primary-menu__logo img{
        height:30px;
        width:auto;
    }
    .secondary-menu .unauthed :not(:last-child){
        display: none !important;
    }

    .mobile-menu__trigger{
        display: block;
    }    
}

