.auth{
    padding:50px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width: 100vw;
    overflow-y: auto;
}

.auth::-webkit-scrollbar{
    width: 3px;
}

.auth::-webkit-scrollbar-thumb{
    background-color: #d1d1d1;
    border-radius: 100px;
}

.auth__grid{
    height:100vh !important;
    width: 100% !important;
}

.auth__grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth .auth__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
}

.auth__wrapper-inner{
    padding: 0 15px;
    border-radius: 5px;
}

.auth__wrapper .auth__wrapper-head{
    display: flex;
    flex-direction: column;
    text-align: start;
}


.auth__wrapper .auth__wrapper-head h2{
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 600;
    margin:0;
    margin-bottom: 10px;
}

.auth__wrapper .auth__wrapper-head p{
    font-size: 12px;
    margin: 0;
}

.auth .authCarousel{
    max-width: 500px !important;
}

.auth form{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    align-items: flex-start;
}

.auth__form-input .auth__form-input--header{
    font-size: 0.75rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    text-align: start;
}

.auth__form-input .auth__form-input--header a{
    color: var(--primary-color)
}

.auth__form-input{
    margin-bottom: 10px;
}

.auth form input{
    height:45px;
    width: 100%;
    border:none;
    border-radius:3px;
    border:1px solid #ddd;
    padding: 0 10px;
    box-sizing: border-box;
    margin:5px 0px;
}

.auth form input::placeholder{
    font-size:0.8rem;
}

.auth form button{
    background-color: var(--primary-color);
    padding:10px 5px;
    border-radius: 3px;
    color:#ffffff;
    margin-top:15px;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 600;
}

.auth form button:hover{
    background-color: var(--secondary-button-color);
}

.auth form input.form__field-error{
    border:1px solid #f10000;
}

.auth .form__errors{
    color:#f10000;
    font-size: 11px;
    text-align: start;
}

.auth .form__errors.form__auth-error{
    margin:10px 0;
    border: 1px solid #f10000;
    background: rgb(204 0 0 / 20%);
    padding: 20px 10px;
    border-radius: 3px;
}

.auth__signup{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-size: 0.8rem;
}

.auth__signup span{
    margin-right: 5px;
}

.auth__signup a{
    color:var(--primary-color);
}

.auth .auth__footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.auth .auth__footer span{
    font-size: 0.8rem;
}

.auth__block{
    display: flex;
    flex-wrap: nowrap;
}

.auth__graphic{
    height:100vh;
    width:100%;
    background-color: #F3F7FA;
}

@media screen and (max-width:600px){
    .auth__graphic{
        display: none;
    }
}

.auth__graphic-wrap{
    height:100%;
    padding-top: 50px;
    overflow: hidden;
}

.auth__graphic-wrap p{
    font-size: 0.9rem;
    text-align: start;
    padding:0 25px ;
    font-weight: 600;
}

.auth__graphic-wrap img{
    margin-left: 25px;
    margin-top:50px;
    object-fit: cover;
    height: auto;
    width: 1000px;
}

.auth__wrapper-social{
    margin-top: 25px;
}

.auth__wrapper-social--split{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth__wrapper-social--split .left__tick,
.auth__wrapper-social--split .right__tick{
    flex: 1 1 0%;
    height:1px;
    background-color: #d1d1d1;
    margin: 0 15px;
    border-radius: 5px;
}

.auth__wrapper-social--split p{
    background: #ffffff;
    width: fit-content;
    text-align: center;
}

.auth__wrapper-social button{
    border:1px solid #ddd;
    width:100%;
    padding:10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 600;
}

.auth__wrapper-social button iconify-icon{
    margin-right: 10px;
}

.auth__wrapper-social button:hover{
  background-color: var(--site-nav-drop-hover-color);
}